<div id="header">
    <div class="row animated fadeInDown">
        <div class="columns p_name" style="text-align:center; margin-bottom: 15px">
            {% if header.name %}
                <h2>{{ header.name }}</h2>
            {% endif %}   
            {% if header.description %}
                <h6 class="light">{{ header.description }}</h6>
            {% endif %}
        </div>
		<div class="columns p_info" style="text-align:center">
			<div class="columns" style="width:300px; float:none; display:inline-block;">
				<div class="row" style="float:none; text-align:left;">
					<div class="columns light2" style="width:65px">{{ header.baseinfo_name }}</div>
					<div class="columns border-left light2" style="width:235px">
						<ul class="no-bullet">
							{% for item in header.baseinfo %}
								<li>{{ item.line }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="columns" style="width:300px; float:none; display:inline-block;">
				<div class="row" style="float:none; text-align:left;">
					<div class="columns light2" style="width:65px">{{ header.contact_name }}</div>
					<div class="columns border-left light2" style="width:235px">
						<ul class="no-bullet">
							{% for item in header.contact %}
								<li>{{ item.line }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="columns" style="width:300px; float:none; display:inline-block;">
				<div class="row" style="float:none; text-align:left;">
					<div class="columns light2" style="width:65px">{{ header.social_name }}</div>
					<div class="columns border-left light2" style="width:235px">
						<ul class="no-bullet">
							{% for item in header.social %}
								<li>{{ item.line }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>