<div class="avoid_pagebreak animated fadeInUp">
  <h4 class="title"><i class="fi-{{ module.header.icon }}"></i> {{ module.header.title }}</h4>
  {% if module.header.education %}
  <div class="pro_surround">
    <div class="pro animated">
      {% for item in module.header.education %}
        <div class="pro_item row">
		  <div class="columns" style="width:150px">
            <img src="{{ url('theme://img') ~ '/' ~ item.logo }}" style="object-fit:contain" alt="{{ item.school }}" class="ribbon gray">
          </div>
	  	  <div class="large-8 medium-8 columns" style="padding-top: 1rem !important">
	  	    <div class="category">{{ item.school }}</div>
            <div class="pro_name">{{ item.major }}</div>
            <div class="pro_desc">
              <ul>
                {% for item in item.awards %}
                  <li class="desc_line">{{ item.line }}</li>
                {% endfor %}
              </ul>
            </div>
		  </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {{ module.content }}
</div>
